<% layout('/layout/boilerplate.ejs') -%>

<div class="row">
        <div class="col-8 offset-3">
            <h1>Fill your credentials to go further</h1>
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <label for="username" class="form-lable">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
                
                <label for="password" class="form-lable">password</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <br>
                <button class="btn btn-success">Login</button>
            </form>


            </div>
        </div>